/*
https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Reenie Beanie', cursive;
*/
body {
  background-color: #63C3D1;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
div {
  line-height: 1;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  padding:15px;
  /* border-radius: 4px; */
  /* border:1px solid #E8E8E8; */
  border-top:60px solid #fdfd86;
  box-sizing: border-box;
  background:#16232E;
}
